* {
  box-sizing: border-box;
}

.layout {
  width: 100%;
  min-height: 100vh;
  display: grid;
  flex-direction: column;
  overflow: auto;
  background-color: #ffffff;
  font-size: 17px;
}

.linha {
  width: 100%;
  margin: 0 auto;
  display: inline-flex;
  overflow: auto;
}
.semestre {
  width: 12%;
  height: auto;
  display: block;
}

.materia_name {
  height: 40px;
  text-align: center;
  width: 90%;
  margin-left: 5%;
}

.materia {
  /* border-radius: 5px; */
  border-radius: 5%;
  margin: 0 auto 10px auto;
  background-color: #e1e1e1;
  margin-left: 9px;
  padding: 2px 0px 5px 5px;
  /* border-style: solid; */
  /* border-color: #9d9d9d; */
  text-align: center;
  height: 120px;
  /* width: 140px; */
  color: #1a1a1a;
  /* font-weight: bold; */
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  min-width: 140px; /* Set your desired minimum width */
}
.materia.liberada {
  background-color: rgb(204, 245, 207);
  color: #1a1a1a;
}
.materia.perdeu {
  background-color: #e4605e;
  color: #1a1a1a;
}
.materia.state {
  background-color: rgb(124, 207, 134);
  color: #1a1a1a;
}
.materia.bloqueada {
  background-color: #e59291;
  color: #1a1a1a;
}
[class^="materia"][class$="doc"] {
  height: auto;
}
.semestreTag {
  text-align: center;
  background-color: #ffffff;
  color: #565656;
  margin: 0;
  margin-bottom: 2px;
  padding: 5px 5px 10px 0;
  font-weight: bold;
  margin-bottom: 15px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}
.botao {
  padding: 1px 3px;
  border-radius: 5px;
  border: none;
  margin-left: 3px;
  margin-top: 14px;
  /* border-style: solid; */
  /* border-width: 0.4px; */
  font-size: 14px;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
}
.botao.state {
  background-color: rgb(124, 207, 134);
  border-color: green;
}
.botao.perdeu {
  background-color: #e05e5c;
  border-color: red;
}
.codigo {
  font-size: 10px;
  font-weight: bold;
}
